@charset "UTF-8";
/* CSS Document */


#introduction {
	position: absolute;
	display: block;
	z-index: 10000;
	width: 1400px; /* viewport-width */
	height: 768px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(255, 255, 255, 0.87);
	text-align: center;
}


input {
	margin-right: 2%;
}


output { 
      /*position: absolute; */
      background: #555;
      width: 40px; 
      height: 30px; 
      text-align: center; 
      color: white; 
      border-radius: 10px; 
      display: inline-block; 
      font: bold 15px/30px Georgia;
      bottom: 175%;
      left: 0;
      /*margin-top: -1%;*/
      }
	  output:after { 
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    top: 100%;
	    left: 50%;
	    /*margin-left: -5px;*/
	    margin-top: -1px;
	  }


body {
	background-color: #ffffff;
	width: 1366px;
	height: 768px	;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow:hidden;
}

#bar-wrapper {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display:block;
}

#bar-wrapper #scrollLeft img:hover{
	opacity:1;
} 

#bar-wrapper #scrollRight img:hover {
	opacity:1;
}


#bar-wrapper #scrollLeft img {
	position: absolute;
	top: 50%;
	left:50px;
	height: 100px;
	width: 100px;
	margin-top: -50;
	z-index: 1000;
	cursor: pointer;
	opacity:.5;
}
#bar-wrapper #scrollRight img {
	position: absolute;
	top: 50%;
	right: 50px;
	height: 100px;
	width: 100px;
	margin-top: -50;
	z-index: 1000;
	cursor: pointer;
	opacity: .5;
}

#container{
    display: inline-block;
	position: fixed;
	width:4100px;
	/*border: 2px solid red;*/

}

#container div.oneBottle{
	display: inline-block;
	position: relative;
	

}

.overlay{
	display: block;
	background: rgba(41, 128, 185, 0.8);
    bottom: -100px;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    width: 100%;
    height: 768px;
    font-family: 'Raleway', sans-serif;
}


#container div.oneBottle:hover .overlay{
	display: block;
	opacity: 1;
}

.overlay p {
     margin-left: 5px;
     margin-right: 5px;
     color: white;
     font-size: 1em;
     vertical-align: center;
}
.overlay h3{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: white;



}

